/* General*/
* {
  margin: 0;
  font-family:  arial, Roboto;
  box-sizing: border-box;
}
h1, h2, h3, h4 {
  font-family: poppins;
}
body {
  
  margin-left: 3px;
  margin-right: 3px;
  background-color: rgb(190, 189, 189);
}
/* Header*/
header {
  margin-top: 2px;
  background-color: rgb(221, 221, 221);
  color: white;
}
header .top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
}
.top .nav {
  display: flex;
  gap: 10px;
  margin-right: 4px;
}
.top h1 {
  color: black;
  text-shadow: 3px 3px 1px rgba(255, 255, 255 ),-3px -3px 3px rgba(255, 255, 255 ); 
}
.top img {
  height: 50px;
  width: 50px;
  border: 0;
  border-radius: 25px;
  margin-left: 10px;
}
.nav button {
  border: 0;
  border-radius: 4px;
  height: 30px;
  font-weight: bold;
  transition: box-shadow, 0.15s;
}
.nav button:hover {
  cursor: pointer;
  box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.15);
}

/*Section*/
section {
  margin: 50px 20px;
  border: 1px solid ;
  padding: 7px;
  border-radius: 5px;
}
/* main*/
main {
  margin: 50px 20px;
  border: 1px solid ;
  padding: 7px;
  border-radius: 5px;
}
main dt {
  margin-left: 10px;
}
main dd {
  margin-left: 30px;
  margin-top: 5px;
}
dt a, #contacts .aa {
  text-decoration: none;
  color: blue;
}
dt a:hover, #contacts .aa:hover {
  color: rgb(71, 71, 246);
}
main dt::before {
  content: "◼";
  margin-right: 3px;
}
#contacts p {
  margin-top: 10px;
}
footer {
  background-color: rgb(221, 221, 221);
  color: black;
  text-align: center;
  height: 80px;
  padding: 30px;
  font-size: large;
  font-weight: bolder;
}